<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
<link rel="stylesheet" type="text/css" href="css/other.css">
</head>
      <body style="background-color:powderblue;">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a href="about" target="external" class="nav-link">About</a>
                      </li>
                      <li class="nav-item">
                          <a  href="login" target="external" class="nav-link login-btn">Login</a>
                      </li>
                      <li class="nav-item">
                          <a href="user" target="external" class="nav-link">User Profile</a>
                      </li>
                      <li class="nav-item">
                          <a href="dashboard" target="external" class="nav-link">Dashboard</a>
                      </li>
                  </ul>
              </div>
          </nav>
          <center> 
            <p>Web Alarm Version: 0.9.1</p>
            <p>Date: 2019-10-26</p>
            <br>
              <p>Richard Ziming Qin; #101278511</p> 
              <p>Technical Team Lead 
              <p>Ambition: Create a top-notch blockchain application for use by the industry</p>
              <p>Email: richard.qin@georgebrown.ca</p>
            <br>
              <p>Shermeen Kazi; #101270927
              <p>Blockchain Developer
              <p>Ambition: The expert in the blockchain field
              <p>Email: shermeen.kazi@georgebrown.ca</p>
            <br>
              <p>Estella Yeung; #100316780
              <p>Blockchain Program Student 
              <p>Ambition: Enjoy learning; hope to get involve in Fintech
              <p>Email: estella.yeung@georgebrown.ca</p>
            <br>
              <p># Module needed to view project ##
              <p>Metamask
              <p>npm 
              <p>http-server</p>
            <br>
              <footer id="main-footer">
                <p>Copyright &copy 2019; Web Alarm Site</p>
              </footer>
          </center> 
          <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="js/index.js"></script>
      </body>
</html>